<header>
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/menu}">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/menu}" style="text-decoration: none; color: rgba(0, 0, 0, 0.9)">Menu</a>
          </li>
          <li th:if="${session.usuario.nombre.equals('administrador')}" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
            <ul class="dropdown-menu" style="max-width: 100px">
              <li><a class="dropdown-item" th:href="@{/usuario/crearUsuario}">Agregar Usuario</a></li>
              <li><a class="dropdown-item" th:href="@{/usuario}">Ver Usuarios</a></li>
            </ul>
          </li>
          <li th:if="${session.usuario.perfil.idPerfil != 3}" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Empleador</a>
            <ul class="dropdown-menu" style="max-width: 100px">
              <li><a class="dropdown-item" th:href="@{/empleador/crearEmpleador}">Agregar Empleador</a></li>
              <li th:if="${session.usuario.perfil.idPerfil == 2}"><a class="dropdown-item" th:href="@{/empleador}">Ver Empleadores</a></li>
              <li th:if="${session.usuario.perfil.idPerfil == 1}"><a class="dropdown-item" th:href="@{/empleador/admin}">Ver Empleadores</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Trabajador</a>
            <ul class="dropdown-menu" style="max-width: 100px">
              <li><a class="dropdown-item" href="#">Agregar Trabajador</a></li>
              <li><a class="dropdown-item" th:href="@{/trabajador}">Ver Trabajadores</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Liquidación</a>
            <ul class="dropdown-menu mb-3" style="max-width: 100px">
              <li><a class="dropdown-item" href="#">Nueva Liquidación</a></li>
              <li><a class="dropdown-item" href="#">Ver Liquidaciones</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" th:href="@{/}">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>