<nav class="navbar navbar-dark navbar-expand-lg p-3">
  <div class="container-fluid container-header">
    <a class="navbar-brand" th:href="@{/menu}"><img src="../img/logo1.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">q
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/menu}">Menu</a>
        </li>
        <li th:if="${session.usuario.nombre.equals('administrador')}" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/usuario/crearUsuario}">Agregar Usuario</a></li>
            <li><a class="dropdown-item" th:href="@{/usuario}">Ver Usuarios</a></li>
          </ul>
        </li>
        <li th:if="${session.usuario.perfil.idPerfil != 3}" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Empleador</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/empleador/crearEmpleador}">Agregar Empleador</a></li>
            <li th:if="${session.usuario.perfil.idPerfil == 2}"><a class="dropdown-item" th:href="@{/empleador}">Ver Empleadores</a></li>
            <li th:if="${session.usuario.perfil.idPerfil == 1}"><a class="dropdown-item" th:href="@{/empleador/admin}">Ver Empleadores</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Trabajador</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/trabajador/crearTrabajador}">Agregar Trabajador</a></li>
            <li><a class="dropdown-item" th:href="@{/trabajador}">Ver Trabajadores</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Liquidación</a>
          <ul class="dropdown-menu mb-3">
            <li><a class="dropdown-item" th:href="@{/liquidacion/crearLiquidacion}">Nueva Liquidación</a></li>
            <li><a class="dropdown-item" th:href="@{/liquidacion}">Ver Liquidaciones</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger mx-3" th:href="@{/}">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>